@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --dorado: #EBAE2D;
  --dorado-oscuro: #D79E25;
  --azul: #4F8CF5;
  --azul-medio: #6784B5;
  --azul-oscuro: #335CA1;
  --gris: #C0C0C0;
  --gris-medio: #565656;
  --gris-alto: #383838;
  --gris-oscuro: #202020;
  --error: #f22816;
  --aviso: #D33A2F;
}

header u {
  display: none;
}

header {
  height: 6rem;
  padding: 0 1.5rem;
}

body {
  font-family: var(--font-inter);
}

label.menu-btn {
  position: relative;
  width: 3.2rem;
  height: 2.5rem;
}

label.menu-btn span{
  position: absolute;
  background-color: white;
  height: .4rem;
  border-radius: .5rem;
  width: 100%;
} 

label span:nth-child(1) {
  top: 0em;
  transition: top 0.25s ease 0.25s, transform 0.25s ease 0s;

}

label span:nth-child(2) {
  top: 1em;
}

label span:nth-child(3) {
  top: 2em;
  transition: top 0.25s ease 0.25s, transform 0.25s ease 0s;

}

label.menu-abierto span:nth-child(1) {
  top: 1em;
  transform: rotate(45deg);
  transition-delay: 0s, 0.025s;
}

label.menu-abierto span:nth-child(3) {
  top: 1em;
  transform: rotate(-45deg);
  transition-delay: 0s, 0.025s;
}

label.menu-abierto span:nth-child(2) {
  background: none;
}

.sesion {
  border: none
}

.general {
  width: 18rem;
  height: calc(100vh - 6rem);
  top: 6rem;
  row-gap: 2rem;
  transition: left 0.5s ease;
  padding-top: 4rem;
  text-align: left;
  display: flex;
  position: absolute;
  left: 0;
  background: var(--gris-oscuro);
  padding: 3rem 2.5rem;
  flex-flow: column;
  align-items: left;
}

nav.general a {
  font-family: var(--font-oswald);
  text-align: left ;
}

.abierto {
  left: 0px;
}

.cerrado {
  left: -400px;
}

@media (min-width: 1024px) {
  label.menu-btn {
    display: none;
  }

  nav#redes {
    display: none;
  }

  header {
    flex-flow: row wrap;
  }

  header > a {
    flex: 20% 0;
  }

  header u {
    display: flex;
  }

  nav.general {
    padding: 0 0;
    flex: 60% 0;
    height: 6rem;
    flex-flow: row;
    align-items: center;
    position: initial;
    justify-content: space-between;
  }

  nav.general a {
    font-family: var(--font-oswald);
    text-align: center;
    padding: 0 auto;
  }

  header img.usuario {
    width: 1.5rem;
    height: auto;
  }

  .sesion {
    padding: .5rem 1rem;
    border: 4px solid var(--dorado);
    transition: border-color 0.2s ease-in-out;
  } 

  .sesion:hover {
    border-color: var(--azul-oscuro) ;
  } 
}
