@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --dorado: #ebae2d;
  --dorado-claro: #FFFBF6;
  --dorado-oscuro: #d79e25;
  --azul: #4f8cf5;
  --azul-medio: #6784b5;
  --azul-oscuro: #335ca1;
  --gris: #c0c0c0;
  --gris-medio: #565656;
  --gris-alto: #383838;
  --gris-oscuro: #202020;
  --error: #f22816;
  --aviso: #d33a2f;
  --destructive: 0 100% 50%; /* Rojo brillante */
  --destructive-foreground: 210 40% 98%; /* Blanco */
}

* {
  font-family: var(--font-inter);
}

.oswald {
  font-family: var(--font-oswald);
}

.boton {
  background-color: var(--azul);
  width: 10rem;
  padding: .5rem 0;
  font-weight: 500;
}

.mitad {
  flex-basis: 50%;
}

header > a > span {
  display: none;
}

.amarillo {
  color: var(--dorado);
  font-family: var(--font-oswald);
}

.azul {
  color: var(--azul);
  font-family: var(--font-oswald);
}

header > button,
div.perfil-ic > a,
div.perfil-ic {
  flex: none;
}

div.perfil-ic > a,
div.perfil-ic > a {
  width: auto;
}

header u {
  display: none;
}

header {
  height: 6rem;
  padding: 0 1.5rem;
}

body {
  font-family: var(--font-inter);
}

label.menu-btn {
  position: relative;
  width: 3.2rem;
  height: 2.5rem;
}

label.menu-btn span {
  position: absolute;
  background-color: white;
  height: 0.4rem;
  border-radius: 0.5rem;
  width: 100%;
}

label span:nth-child(1) {
  top: 0em;
  transition: top 0.25s ease 0.25s, transform 0.25s ease 0s;
}

label span:nth-child(2) {
  top: 1em;
}

label span:nth-child(3) {
  top: 2em;
  transition: top 0.25s ease 0.25s, transform 0.25s ease 0s;
}

label.menu-abierto span:nth-child(1) {
  top: 1em;
  transform: rotate(45deg);
  transition-delay: 0s, 0.025s;
}

label.menu-abierto span:nth-child(3) {
  top: 1em;
  transform: rotate(-45deg);
  transition-delay: 0s, 0.025s;
}

label.menu-abierto span:nth-child(2) {
  background: none;
}

.sesion {
  border: none;
}

.general {
  width: 18rem;
  height: calc(100vh - 6rem);
  top: 6rem;
  row-gap: 2rem;
  transition: left 0.5s ease;
  padding-top: 4rem;
  text-align: left;
  display: flex;
  position: absolute;
  left: 0;
  background: var(--gris-oscuro);
  padding: 3rem 2.5rem;
  flex-flow: column;
  align-items: left;
  z-index: 2;
}

nav.general a {
  font-family: var(--font-oswald);
  text-align: left;
}

.abierto {
  left: 0px;
}

.cerrado {
  left: -400px;
}

.div-video {
  background-color: var(--gris-oscuro);
  width: 100%;
  height: calc(100vh - 7rem);
}

.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}



.div-video > div {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

@media (min-width: 970px) {
  label.menu-btn {
    display: none;
  }

  nav#redes {
    display: none;
  }

  header {
    flex-flow: row wrap;
  }

  header > a {
    flex: 25% 0;
  }

  header u {
    display: flex;
  }

  nav.general {
    padding: 0 0;
    flex: 50% 0;
    height: 6rem;
    flex-flow: row;
    align-items: center;
    position: initial;
    justify-content: space-between;
  }

  nav.general a {
    font-family: var(--font-oswald);
    text-align: center;
    padding: 0 auto;
    font-size: 1.3rem;
  }

  header img.usuario {
    width: 1.5rem;
    height: auto;
  }

  .sesion {
    padding: 0.5rem 1rem;
    border: 4px solid var(--dorado);
    transition: border-color 0.2s ease-in-out;
  }

  .sesion:hover {
    border-color: var(--azul-oscuro);
  }

  header > button,
  div.perfil-ic {
    flex: 20% 0;
  }

  .div-video a {
    width: 15rem;

    font-size: x-large;
  }

  .div-video div {
    gap: 2rem;
  }

  .div-video h1 {
    font-size: 3rem;
  }

  header > a > span {
    display: flex;
  }

  footer > div:nth-child(1) {
    align-items: center;
    font-weight: bold;
    justify-content: center;
    padding: 1rem;
  }
  
  footer > div:nth-child(2) {
    
  }

}



